.section1{
    padding: 30px 12%;
    background-color: #000;
    color: #fff;
    padding-bottom: 100px;
}
.text-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-col{
  display: flex;
  align-items: center;
  justify-content: start;
}
.text-col h1{
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 50px;
}
.text-col p{
  font-size: 20px;
}

